# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [ ]:
# Answer here

a= 8
b= 12
c= a+b
print(c)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [ ]:
# Answer here
a= 7
b= 20
c= b-a
print(c)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [ ]:
# Answer here
a= 6
b= 9
c= a*b
print(c)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [ ]:
# Answer here
a= 45
b= 9
c= a/b
print(c)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [ ]:
# Answer here
a= 45
b= 9
c= a/b
print(c)
d= 50
e= 6
f= d/e
print(f)

5.0
8.333333333333334

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [ ]:
# Answer here
a=29
b=5
c=a%b
print(c)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [ ]:
# Answer here
num=3
power=4
print(num**power)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [ ]:
# Answer here
a=7

print(+a)
print(-a)

7
-7

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [ ]:
# Answer here
c=5 + 3 * 2
d=(5 + 3) * 2
print(c)
print(d)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [ ]:
# Answer here

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [ ]:
# Answer here
n= 10
n += 5
n *= 2
n -= 4
print( n )

26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [ ]:
# Answer here
x=3
y=7
x,y=y,x
# x = y
# y = x
print(x,y)

7 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a = int(input("Enter your first number"))
b = int(input("Enter your second number"))
c = a+b
print(c)

Enter your first number26
Enter your second number32
58

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
num1 = float(input("Enter your 1st number"))
num2 = float(input("Enter your 2nd number"))
num3 = float(input("Enter your 3rd number"))
sum = num1 + num2 + num3
average = sum/3
print(average)

Enter your 1st number22.5
Enter your 2nd number11.3
Enter your 3rd number10
14.6

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
radius = float(input("Enter the radius of the circle "))
pi = 3.15159
circumference = 2*pi *radius
area = pi*radius**2
print(circumference)
print(area)

Enter the radius of the circle 7
44.122260000000004
154.42791

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
seconds = int(input("Enter total number of seconds you have "))
mins = int(seconds/60)
hours = int(mins/60)
left_second = seconds%60
left_mins = mins%60
print(hours, "H", left_mins , "M" , left_second , "S")

Enter total number of seconds you have 45558
12 H 39 M 18 S

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [ ]:
# Answer here
principal = int(input("Enter your principal amount"))
rate = float(input("Enter your rate of interest "))
time = int(input("Enter number of Years "))
SI = (principal*rate*time) / 100
print("Your simple interest is :", SI)

Enter your principal amount10000
Enter your rate of interest 8.4
Enter number of Years 3
Your simple interest is : 2520.0